footer {
  text-align: center;
  color: var(--text-muted);
  margin-top: auto;
  padding: 0 3rem 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

/* footer > * {
  border: 2px solid var(--text);
} */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: var(--text);
}

.icon:hover {
  color: var(--text-muted);
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  footer span {
    font-size: 0.8rem;
  }
}